<section class="section">
  <div class="columns has-text-centered">
    <div class="columm">
      <p class="title">
        What I've Done
      </p>
    </div>
  </div>
  <div class="columns is-tablet is-multiline is-centered"> 

    {% for experience in site.experiences %}
    <div class="column is-full-tablet is-half-widescreen">
      <div class="box">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <a href={{experience.link}} target="_blank">
                <img src={{experience.image}}>
              </a>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <Strong >{{ experience.name }}</Strong>
              <p class="">{{ experience.role }}</p>
              <p>{{ experience.content | markdownify }}</p>
            </div>
            <time datetime={{experience.starttime}}>{{experience.timeframe}}</time>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

</section>
