<section>
	<footer class="footer has-background-primary">
		<div class="columns has-text-centered">
			<ul class="column">
				<li><ul>
					<li><a href="mailto:{{site.email}}" class="icon">
							Email
					</a></li>
					<li><a href="github.com/{{site.github}}" class="icon">
							Github
					</a></li>
					<li><a href="linkedIn.com/{{site.linkedin}}" class="icon">
							LinkedIn
					</a></li>
				</ul></li>
				<li><a href="https://bulma.io">
					<img src="assets/img/bulma-badge.png" alt="Made with Bulma" width="128" height="24">
				</li></a>
			</ul>
		</div>
	</footer>
</section>
