<div class="social-links">
  {% if site.email %}
    <a href="mailto:{{ site.email }}" class="author-social" target="_blank" text-decoration="none">
      <i class="fa fa-2x fa-envelope-square"></i>
    </a>
  {% endif %}
  {% if site.linkedin %}
    <a href="http://linkedin.com/in/{{ site.linkedin }}" class="author-social" target="_blank" text-decoration="none">
      <i class="fa fa-2x fa-linkedin-square"></i>
    </a>
  {% endif %}
  {% if site.github %}
    <a href="http://github.com/{{ site.github }}" class="author-social" target="_blank" text-decoration="none">
      <i class="fa fa-2x fa-github"></i>
    </a>
  {% endif %}
  {% if site.stackoverflow %}
    <a href="http://stackoverflow.com/users/{{ site.stackoverflow }}" class="author-social" target="_blank" text-decoration="none">
      <i class="fa fa-2x fa-stack-overflow"></i>
    </a>
  {% endif %}
  {% if site.dribbble %}
    <a href="http://dribbble.com/{{ site.dribbble }}" class="author-social" target="_blank" text-decoration="none">
      <i class="fa fa-2x fa-dribbble"></i>
    </a>
  {% endif %}
  {% if site.youtube %}
    <a href="https://youtube.com/user/{{ site.youtube }}" class="author-social" target="_blank" text-decoration="none">
      <i class="fa fa-2x fa-youtube-square"></i>
    </a>
  {% endif %}
  {% if site.soundcloud %}
    <a href="http://soundcloud.com/{{ site.soundcloud }}" class="author-social" target="_blank" text-decoration="none">
      <i class="fa fa-2x fa-soundcloud"></i>
    </a>
  {% endif %}
</div>
