<!DOCTYPE html>
<html>

  <!-- Include the fancy meta in the header -->
  <head>
    <title>{{ site.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main_output.css">

    <!-- link to Bulma Requirement -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <!-- Include Spicy Content -->
    {{ content }}

    <!-- Include Footer w/ resume and social links -->
    {% include footer.html %}

  </body>
</html>

